<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Filmou🍿</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>

    <div class="topo">
        <h1>Filmouu 🍿</h1>
        <h2>Filmes e séries do seu jeito.</h2>
    </div>

    <div class="conteudo">

        <div class="menu">
            <div class="botao">
                <a href="/usuario/cadastro">Cadastro</a>
            </div>

            <div class="botao">
                <a href="/usuario/login">Login</a>
            </div>
        </div>

        <div class="msg">
            <br>
            <h2>Os mais assistidos:</h2>
            <br>
        </div>

        <div class="imagens">

            <div class="foto">
                <img width="250px" height="300px" src="../static/imagens/filme2.jpg">
            </div>

            <div class="foto">
                <img width="250px" height="300px" src="../static/imagens/filme.jpg">
            </div>

            <div class="foto">
                <img width="250px" height="300px" src="../static/imagens/filme3.jpg">
            </div>

            <div class="foto">
                <img width="250px" height="300px" src="../static/imagens/filme4.jpg">
            </div>

            <div class="foto">
                <img width="250px" height="300px" src="../static/imagens/filme5.jpg">
            </div>

        </div>

    </div>

</body>
</html>