<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_admin.css') }}">
</head>
<body>

<div class="container">

    <h1>Login do Administrador</h1>

    {% if erro %}
        <p class="erro">{{ erro }}</p>
    {% endif %}

    <form method="POST">

        <p>Email</p>
        <input type="email" name="email">

        <p>Senha</p>
        <input type="password" name="senha">

        <button>Entrar</button>

    </form>

</div>

</body>
</html>